<div class="gi-userlist-container"></div>
<div class="gi-utilities">
  <div>
    <a href="#" class="gi-invite">
      <span class="gi-icon"></span>
      <span class="gi-utilities-text">Invite a friend</span>
    </a>
    <a href="#" class="gi-leave">
      <span class="gi-icon"></span>
      <span class="gi-utilities-text">Leave the session</span>
    </a>
    <div class="gi-popout gi-invite-popout">
      <p>Share this link with a friend and browse together!</p>
      <input type="text" value="<%- inviteUrl %>" />
    </div>
  </div>
</div>
<div class="gi-collapse">
  <span class="gi-icon"></span>
</div>
